$primary: #243B55;
$secondary: darken($primary, 10);
$tertiary: darken($primary, 20);
$link: lighten($primary, 10);

$navbar-height: 4rem;

@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import '~bulma/sass/utilities/derived-variables';
@import '~bulma/sass/utilities/mixins';
