@import 'variables';
@import 'bulma';

.is-spaced {
  margin: 1rem 0;
}

.section {
  padding: 1.5rem;
}

.has-border-radius {
  border-radius: $border-radius;
}

.has-contents-below {
  margin-bottom: 1rem;
}

.box,
.card {
  @extend .has-border-radius;

  overflow: hidden;
}

a.box,
a.card {
  transition: box-shadow .3s ease;
}

a.card:hover {
  @extend a, .box, :hover;
  @extend .is-paddingless;
}

.image video {
  @extend .image, img;
}

/**
 * Animations
 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}
