@import 'variables';
@import 'bulma';

.is-spaced {
  margin: 1rem 0;
}

/**
 * Animations
 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}
