@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?fd9z9h');
    src:    url('fonts/icomoon.eot?fd9z9h#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?fd9z9h') format('truetype'),
        url('fonts/icomoon.woff?fd9z9h') format('woff'),
        url('fonts/icomoon.svg?fd9z9h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
    content: "\e904";
}
.icon-facebook:before {
    content: "\e905";
}
.icon-codepen:before {
    content: "\e900";
}
.icon-stack-overflow:before {
    content: "\e901";
}
.icon-github:before {
    content: "\e902";
}
.icon-twitter:before {
    content: "\e903";
}

